.topnav {
    background-color: #141414;
    height: 30px;
}

.topnavTitle {
    color: #a0a0a0;
    font: 28px Gill Sans, sans-serif;
    font-weight: bold;
    word-spacing: 0px;
    padding-left: 10px;
    text-align: left;
}

.topnavButton {
    color: #ffffff;
    font: 20px Gill Sans, sans-serif;
    font-weight: bold;
    float: right;
    word-spacing: 20px;
    padding-right: 10px;
    padding-top: 5px;
}

.topnavButton:hover {
    background-color: #303030;
    box-shadow: inset 0 0 0 1px #ffffff;
    color: #ffffff;
}

.mainTitle {
    color: #ffffff;
    font: 25px Gill Sans, sans-serif;
    text-align: center;
}

.lines{
    color: #ffffff;
    background-color: #ffffff;
    align-items: center;
    height: 3px;
    
}

a { 
    color: inherit; 
    text-decoration:none;
} 

.moveImage { 
    width: 150px;
    height: 150px;
    text-align: center;
    color: #ff25d0;
}

.entireTable {
    background-color: #141414;
}

.table {
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    font: 16px Gill Sans, sans-serif;
    width: 50%;
}

.dataframe{
    color: #ffffff;
    border: 2px inset #ffffff;
    border-color: #303030;
    font: 16px Gill Sans, sans-serif;
    text-align: center;

    padding: 10px;
    margin: auto;
    border: none;
}

.dataframe td {
    height: 60px;
    min-width: 80px;
    max-width: 250px;
}

.dataframe td {
    height: 80px;
    min-width: 80px;
    max-width: 250px;
}

.dataframe tr{
    background-color: #1a1a1a;
    color: #ffffff;
}

.dataframe img{
    max-height: 80px;
    max-width: 80px;
}
.dataframe img:hover {
    transform: scale(3);
}

.inputSection {
    background-color: #1a1a1a;
    width: 330px;
    margin: 0 auto;
    padding: 5px;
    border: 3px solid #ffffff;
}

.inputText{
    color: #ffffff;
    font: 16px Gill Sans, sans-serif;
    width: 50%;
    text-align: center;
}

.inputBox {
    background: #141414;
    color: #ffffff;
    font: 16px Gill Sans, sans-serif;
    height: 20px;
    width: 130px;
    font-size: 15px;
}

.exampleText {
    color: #ffffff;
    font: 12px Gill Sans, sans-serif;
    text-align: center;
    padding-top: 5px;
}


.inputArea {
    background-color: #141414;
    background-size: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

}

.character {
    background: #363636;
    color: #ffffff;
    border-color: #ffffff;
    height: 40px;
    width: 150px;
    max-height: 40px;
    max-width: 150px;
}

.characterHidden {
    display: none;
}

.moveInput {
    color: #ffffff;
    background: #363636;
    border-color: #ffffff;
    align-items: center;
}

.gap {
    color: #ffffff;
    text-align: center;
    background-color: #1a1a1a;
}

.faqTitle1 {
    color: #ffffff;
    font-size: 30px;
    
}

.faqTitle2 {
    color: #ffffff;
    font-size: 20px;
    line-height: 100%;
    text-align: left;
}

.faqTextTitle {
    color: #ffffff;
    font-size: 20px;
    display: inline-block;
    margin-left: 3%;
    font-style: bold;
    line-height: 20%;
}

.faqText {
    color: #ffffff;
    font-size: 16px;
    display: inline-block;
    margin-left: 5%;
    line-height: 125%;
}

.faqTextLink {
    color: #62d4cb;
    font-size: 16px;
    display: inline-block;
}

.faqSection2 {
    line-height: 120%;
}

.collapsible {
    background-color: #1a1a1a;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 20px;
    border-color: #1d1d1d;
  }
  
  .active, .collapsible:hover {
    background-color: #1d1d1d;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #141414;
    color: white;
  }

  .hiddenContent {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #141414;
    color: white;
  }

  .content.link {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #141414;
    color: rgb(95, 231, 255);
  }

  .collapsible:after {
    content: '\02795'; 
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; 
  }

  .icon {
    height: 70px;
    width: 70px;
    top: 50%;
    vertical-align: center;
  }

  .iconHidden {
    height: 70px;
    width: 70px;
    display: none;
  }

  .py-button {
    background-color: #141414;
    color: #141414;
    height: 40px;
    width: 140px;
    padding-top: 40px;
    text-align: center;
  }

  .examplePic {
    height: 150px;
  }

  .exampleArea{
    max-height: 150px;
    margin-left: 5%;
    display: inline;
    overflow: hidden;
    white-space: nowrap;
  }